# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules
.env
.DS_Store

package-lock.json

CLIENT_ID=ab8684dd188c4136a54362e838f4f1e1
CLIENT_SECRET=20fbbf2a27064248813e099e9434ad07