<h1> Book Search </h1>

<form action="/search" method="GET">
<label>
    City
</label>
<input type="text" name="city">

<label>
    Start Date
</label>
<input type="date" name="startDate">

<label>
    End Date
</label>
<input type="date" name="endDate">

<button type="submit">SEARCH!</button>
</form>